/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.floatLeft{
    float: left;
}
.floatRight {
    float: right;
}
.clear {
    clear: both;
}
.blue {
    color: #1aa7f1;
}
.green {
    color: #00ce6c;
}
@font-face {
    font-family:"Ubuntu";
    src:url("fonts/Ubuntu-Regular.ttf") format("truetype");
}
@font-face {
    font-family:"Ubuntu-Bold";
    src:url("fonts/Ubuntu-Bold.ttf") format("truetype");
}
@font-face {
    font-family:"Open-Sans";
    src:url("fonts/open-sans.regular.ttf") format("truetype");
}
@font-face {
    font-family:"Roboto";
    src:url("fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family:"Roboto-Italic";
    src:url("fonts/Roboto-Italic.ttf") format("truetype");
}
@font-face {
    font-family:"PTMono";
    src:url('fonts/PTM55FT.ttf') format("truetype");
}
header {
    background: url('img/bgHeader.png') no-repeat;
    height: auto;
}
.innerHeader, .messageFormats, .innerTariffs {
    width: 95%;
    margin: 0 auto;
}
.innerHeader {
    height: 700px;
}
.logoAndActivity, .bookTheCall, .offer, .buttonBookTheCall, .name, .request, .yourNumber, .amountOfClients, .freeDelivery, .headerPhone, .start {
    overflow: hidden;
}
.logoAndActivity {
    width: 165px;
    padding-top: 14px;
}
.logo {
    font: 40px "Ubuntu-Bold";
    color: #000000;
    text-decoration: none;
}
.activity {
    font: 16px "open-sans";
    color: #ffffff;
}
.officeNumber {
    font: 1.87em "Ubuntu-Bold";
    color: #ffffff;
    margin: 15px 0;
}
.buttonBookTheCall input{
    width: 180px;
    height: 45px;
    font: 1em "Roboto";
    color: #00a642;
    border-radius: 5px;
    border-top-color: #00a642;
    border-right-color: #00ff65;
    border-bottom-color: #00ff65;
    border-left-color: #00a642;
    background-color: transparent;
}
.offer {
    margin-top: 7.1em;
}
h1 {
    font: 2.5em "Ubuntu";
    color: #ffffff;
}
.offer p:nth-of-type(1) {
    font: 1.75em "Ubuntu";
    margin-top: 30px;
    font-size: 1.9em;
    color: #cccccc;
}
.request {
    width: 460px;
    height: 160px;
    padding-top: 40px;
}
.request input[type="text"] {
    width: 200px;
    height: 45px;
    border-radius: 1px;
    font: 18px "Roboto-Italic";
}
.request input[type="tel"] {
    width: 220px;
    height: 45px;
    border-radius: 1px;
    font: 18px "Roboto-Italic";
}
.request input[type="submit"] {
    width: 460px;
    height: 55px;
    font: 1.25em "Roboto";
    color: #ffffff;
    background-color: #00cd6b;
    border-color: #00cd6b;
    border-radius: 2px;
    margin-top: 20px;
}
.request p {
    font: 16px "Ubuntu";
    color: #ffffff;
}
.today, .freeTariff {
    border-bottom: dashed;
    border-color: #ffffff;
    padding-bottom: 7px;
}
.amountOfClients p {
    font: 1.25em "Roboto";
    color: #ffffff;
    padding-top: 30px;
}
.blockAmountOfClients {
    font: 35px 'PTMono';
    border-radius: 2px;
    border: 1px solid #c3c2c2;
    line-height: 43px;
    background-color: #1F1F1F;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.4);
    color: #ffffff;
}
.headerPhone {
    margin-top: -270px;
}
.messageFormats, .slideshowContainer {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.messageFormats h2, .advantagesTitle h2 {
    font: 1.8em "Ubuntu-Bold";
    text-align: center;
    color: #1f1f1f;
    margin-top: 50px;
    margin-bottom: 25px;
}

.slides {
    height: 470px;
}
.slide {
    width: 20%;
    margin: 1% 6%;
}
.iphone {
    text-align: center;
}

.iphone button {
    font: 1.25em "Roboto";
    color: #ffffff;
    background-color: #00cd6b;
    border-color: #00cd6b;
    border-radius: 2px
}

.arrow {
    cursor: pointer;
    padding: 16px;
    font-weight: bold;
    font-size: 40px;
    margin: -25% 3%;
}
.arrow:hover {
    background-color: #9d9d9d;
    border-radius: 20px;
}
.dot {
    cursor:pointer;
    height: 17px;
    width: 17px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.dots {
    margin: 2%;
    text-align:center;
}

.w3-white {
    background-color: #3a3a3a;
}
.dot:hover {
    background-color: #717171;
}
.tariffs {
    height: auto;
    background: url('img/tariffsBg.png');
}
.innerTariffs {
    padding: 1px;
}
.tariffTitle, .advantagesTitle, .blogTitle, .deliveryTitle {
    margin: 2.5em auto;
}
.tariffs h2, .blogTitle h2, .innerDelivery h2 {
    font: 1.8em "Ubuntu-Bold";
    text-align: center;
    color: #ffffff;
}
.mainTariffs {
    width: 660px;
    height: 330px;
    text-align: center;
    margin: 0 auto;
}
.mainTariffs a {
    text-decoration: none;
    font: 20px "Ubuntu-Bold";
    color: #000000;
}
.tariff {
    padding: 10px;
}
.tariff:hover {
    background-color: #1aa7f1;
}
hr {
    height: 2px;
    border: 0;
    background-color: #3da0db;
    box-sizing: border-box;
}
.initialTariff, .optimalTariff, .vipTariff {
    width: 185px;
    height: 300px;
    background: url('img/tariffBg.png');
    margin: 0 17px;
}
.initialTariff:hover, .optimalTariff:hover, .vipTariff:hover {
    /*border: 11px groove;*/
    -webkit-box-shadow: 0px 0px 0px 7px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 0px 0px 7px rgba(0,0,0,0.28);
    box-shadow: 0px 0px 0px 7px rgba(219,212,219,1);
    box-sizing: border-box;
}
.mainTariffs p {
    font: 16px "Roboto";
}
.mainTariffs p span {
    font: 1.25em "Roboto-Bold";
}
.messagePrice {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 45px;
}
.messagePrice p:nth-of-type(1) {
    margin-bottom: 25px;
}
.mainTariffs button{
    font: 16px 'Roboto';
    color: #ffffff;
    border-radius: 3px;
    background-color: #1aa7f1;
    width: 160px;
    height: 40px;
}
.firstDelivery input {
    width: 160px;
    height: 40px;
    font: 1em 'Roboto';
    color: #ffffff;
    background-color: #00cd6b;
    border-color: #00cd6b;
    border-radius: 3px;
    box-sizing: border-box;
}
.firstDelivery p {
    font: 1.56em 'Ubuntu-Bold';
    color: #ffffff;
}
.firstDelivery {
    width: 620px;
    height: 40px;
    margin: 0 auto 2%;
}
.initialTariff:hover .tariff, .optimalTariff:hover .tariff, .vipTariff:hover .tariff{
    background-color: #00cd6b;
}
.innerAdvantages, .innerBlog, .innerGeo, .innerDelivery, .slides {
    width: 85%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
.innerAdvantages {
    width: 95%;
}
.icon {
    width: 160px;
    height: 160px;
    margin-bottom: 20px;
}
.advantage {
    width: 215px;
    margin-bottom: 35px;
}
.advantages h3 {
    font: 18px 'Ubuntu-Bold';
}
.advantages p {
    font: 14px 'Roboto';
    line-height: 21px;
}
.advantagesMain {
    width: 70%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
.advantage:first-of-type {
    width: 168px;
    margin-right: 90px;
    margin-left: 40px;
}
.advantage:nth-of-type(2) {
    width: 190px;
    margin-right: 70px;
}
.advantage:nth-of-type(4) {
    width: 195px;
    margin-right: 63px;
    margin-left: 40px;

}
.advantage:nth-of-type(5) {
    width: 170px;
    margin-right: 90px;
}
.blog {
    background: url('img/blogWhatsapp.png');
    height: auto;
}
.iconWhatsapp {
    margin-bottom: 2%;
}
.iconWhatsapp img {
    height: 329px;
    width: 329px;
}
.whatsappInfo h4 {
    font: 26px 'Ubuntu-Bold';
    color: #00cd6b;
}
.whatsappInfo p {
    font: 18px 'Roboto';
    color: #ffffff;
    padding-top: 22px;
}
.whatsappInfo {
    width: 50%;
    height: auto;
    margin-bottom: 2%;
}
.whatsappInfo input {
    border-radius: 3px;
    border-color: #00cd6b;
    background-color: #00CD6B;
    width: 240px;
    height: 55px;
    box-sizing: border-box;
    font: 1em "Roboto";
    color: #ffffff;
    margin: 1em auto;
}
.geoTarget {
    width: 100%;
    height: auto;
    background: url('img/bgGeo.png');
}

.leftColumnGeo {
    width: 50%;
    height: auto;
}

.geoTitle, .geoButton, .rightColumnGeo {
    overflow: hidden;
}
.geoTitle h2 {
    font: 2.8em "Ubuntu-Bold";
    margin-right: 15px;
   }
.geoTitle img {
    margin-top: 50px;
}
.geoInfo p {
    font: 1.5em "Roboto";
}
select {
    width: 180px;
    height: 37px;
    font: 1.25em "Roboto";
    border-radius: 3px;
    margin-right: 15px;
}
.geoButton input {
    font: 16px "Ubuntu";
    color: #ffffff;
    border-radius: 3px;
    background-color: #00CD6B;
    width: 170px;
    height: 37px;
}
.city {
    width: 80%;
    margin-top: 7%;
}
.rightColumnGeo{
    width: 40%;
    margin: 4% auto;
}
.rightColumnGeo img {
    width: 90%;
    height: 90%;
}
.application, .consultation, .preparation, .start {
    width: 20%;
    height: 240px;
    background-color: #ffffff;
}
.workDelivery {
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    background: url('img/bgWorkDelivery.png');
}
.deliveryArrow {
    width: 2%;
    height: 18px;
    margin: 130px 8px;
}
.application, .consultation, .preparation, .start {
    padding: 10px;
}
.workDelivery h3 {
    font: 16px "Ubuntu";
    text-transform: uppercase;
}
.application p, .consultation p, .preparation p, .start p {
    font: 14px "Roboto";
    line-height: 21px;
}
.innerDelivery input {
    font: 1em "Roboto";
    border-radius: 3px;
    color: #ffffff;
    border-color: #00CD6B;
    background-color: #00CD6B;
    width: 240px;
    height: 55px;
    margin: 1em auto;
}
.deliverySubmit {
    text-align: center;
}
.fourSteps {
    margin: 0 auto;
    overflow: hidden;
}

.innerFooter {
    width: 100%;
    height: auto;
    margin: 1em auto;
    overflow: hidden;

}
.socialButtons {
    display: inline-block;
    background: url("img/socialButtons.png");
    width: 25px;
    height: 25px;
}
.socialButtons:nth-of-type(2){
    background-position: -35px 0;
    margin-left: 10px;
}
.socialButtons:last-of-type {
    background-position: 25px 0;
    margin-left: 10px;
}
.buttonCalculateTheCost {
    text-transform: uppercase;
    padding: 15px 20px;
    text-decoration: none;
    font: 16px "Roboto";
    border-color: #00CD6B;
    border-radius: 3px;
    color: #ffffff;
    background-color: #00CD6B;
}

.tariff:hover ~ .buttonTariff>button{
    background:  #00CD6B;
}
.innerFooter div {
   /* width: 23%;*/
    text-align: center;
   /* margin: 0 5%;*/
}

.copyRight p {
    font: 1em "Ubuntu";
    padding: 5px;
}
footer {
    width: 100%;
}
/* .innerFooter div {
     text-align: center;
     margin: 0 5%;
 }*/
.networks {
    margin-left: 1%;
    margin-top: 2%;
}

.lowerButton {
    width: 30%;
    margin-right: 1%;

}
.copyRight{
    margin-top: 2%;
    margin-left: 27%;
}












/*992 992 992 992 992 992 992 992 992 992 992 992 992 992 992 992 992 992 992 992 992 992 992 992 992 992 992 992992 992 992 992*/
@media screen and (max-width: 992px) {
    .advantagesMain {
        width: 90%;
    }
    .city {
        width: 100%;
    }
    .innerDelivery {
        width: 95%;
    }
}
@media screen and (max-width: 962px) {
    .application, .consultation, .preparation, .start {
        width: 17%;
    }
    .innerDelivery {
    width: 100%;
    height: auto;
    display: block;
    float: none;
    overflow: hidden;
}
    .fourSteps {
        margin-left: 4%;
    }
    .application {
        margin-left: 2%;
    }
}




/*768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768*/
@media screen and (max-width: 768px) {
    header {
        background: url(img/bgHeader.png);
    }
    .innerHeader, .tariffs, .innerAdvantages, .innerBlog, .workDelivery, .innerDelivery, .innerFooter{
        width: 100%;
        height: auto;
        display: block;
        float: none;
        overflow: hidden;
    }
    .logoAndActivity {
        width: 100%;
        height: auto;
        display: block;
        float: none;
        text-align: center;
    }
    .bookTheCall {
        float: none;
    }
    .officeNumber {
        float: left;
        margin-left: 2%;
    }
    .buttonBookTheCall {
        margin: 0 2%;
    }
    .buttonBookTheCall input {
        height: 35px;
        margin: 15px 0;
    }
    .offer {
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 3em;
    }
    .request {
        margin-left: 2%;
    }
    .headerPhone img  {
        width: 60%;
        float: right;
        margin-right: 5%;
    }
    .amountOfClients {
        margin: 0 0 2% 2%;
    }
    .innerTariffs, .advantagesMain {
        width: 100%;
        overflow: hidden;
    }
    .firstDelivery {
        margin-bottom: 2%;
    }

    .iphone>img {
        width: 100%;
    }
    .advantage:first-of-type, .advantage:nth-of-type(2), .advantage:nth-of-type(4), .advantage:nth-of-type(5), .advantage {
        width: 29%;
        margin: 2%;
    }
    .iconWhatsapp img {
        width: 90%;
        height: 90%;
        margin-left: 5%;
    }
    .whatsappInfo {
        width: 50%;
        height: auto;
        float: left;
        margin-right: 2%;
    }
    .innerGeo {
        width: 96%;
    }
    .fourSteps {
    margin-left: 4%;
    }
    .application {
        margin-left: 2%;
    }
    .application, .consultation, .preparation, .start {
        width: 17%;
    }

}
/* end of 768 end of 768 end of 768 end of 768 end of 768 end of 768 end of 768 end of 768 end of 768 end of 768 end of 768*/
@media screen and (max-width: 450px) {
    .bookTheCall {
    width: 100%;
    height: auto;
    display: block;
    float: none;
    text-align: center;
    }
    .officeNumber, .buttonBookTheCall {
        float: none;
        margin: 0 auto;
    }
    .headerPhone img {
        display: none;
    }
    .request {
        width: 97%;
    }
    form {
        overflow: hidden;
    }
    .request p {
        width: 45%;
    }
    .request input[type="submit"] {
        width: 100%;
        height: auto;
        padding: 2%;
        font-size: 1em;
    }



    }

/*361 361 361 361 361 361 361 361 361 361 361 361 361 361 361 361 361 361 361 361 361 361 361 361 361 361 361 361 361 361 361 361*/
@media screen and (max-width: 361px) {
    .innerHeader, .messageFormats, .tariffs, .advantages, .blog, .geoTarget, .workDelivery, footer {
        width: 100%;
        height: auto;
        display: block;
        float: none;
        overflow: hidden;
    }
    .logoAndActivity, .bookTheCall, .offer, .innerTariffs, .innerAdvantages, .innerBlog, .innerGeo, .innerDelivery, .innerFooter {
        width: 100%;
        height: auto;
        display: block;
        float: none;
        text-align: center;
        padding: 1em 0;
    }
    .offer {
        width: 90%;
    }
    .logoAndActivity, .bookTheCall, .offer {
        padding: 0;
    }
    .officeNumber {
        float: none;
    }
    .buttonBookTheCall {
        float: none;
        text-align: center;
    }
    header {
        background: url(img/bgHeader.png);
    }
    .offer {
        margin: 1em;
    }
    .headerPhone {
        display: none;
    }
    .request {
        display: block;
        width: 100%;
        height: auto;
        overflow: hidden;
        padding-top: 0;
    }
    form {
        text-align: -webkit-center;
        overflow: hidden;
    }
    .request p, .freeDelivery {
        width: 80%;
        margin: 5% 5%;
        float: none;
    }
    .yourNumber{
        border-radius: 1px;
        float: none;
    }
    .request input[type="text"] {
        width: 100%;
    }
    .request input[type="tel"] {
        width: 100%;
    }
    .request input[type="submit"] {
        width: 100%;
        font-size: 14px;
    }
    .amountOfClients {
        float: none;
        width: 75%;
        margin: 5% auto;
        display: block;
    }
    .amountOfClients p {
        padding: 0;
        text-align: center;
    }
    .mainTariffs, .initialTariff, .optimalTariff, .vipTariff, .advantagesMain, .fourSteps, .firstDelivery, .advantage, .advantage:first-of-type, .advantage:nth-of-type(2), .advantage:nth-of-type(4), .advantage:nth-of-type(5), .application, .consultation, .preparation, .start {
        width: 90%;
        height: auto;
        display: block;
        float: none;
        margin: 1em auto;
        padding-bottom: 1em;
    }
    .slides {
        width: 90%;
    }
    .slide {
        margin-left: 18%;
    }
    .slides>div:last-of-type{
        display: none;
    }
    .arrow {
        margin: -37% 3%;
    }
    .tariffs {
        background: url(img/tariffsBg.png);
    }
    .blog {
        background: url(img/blogWhatsapp.png);
    }
    .firstDelivery {
        margin: 0 auto;
        padding: 0;
    }
    .firstDelivery p {
        float: none;
    }
    .firstDelivery input {
        margin: 2em auto;
        float: none;
    }
    .icon {
        display: none;
    }
    .advantagesMain {
        padding-bottom: 0;
    }
    .iconWhatsapp, .whatsappInfo, .leftColumnGeo {
        float: none;
        width: 90%;
        height: auto;
        margin: 0 auto;
        text-align: center;
    }
    .iconWhatsapp img {
        width: 90%;
        height: auto;
    }
    .innerGeo {
        margin-bottom: 1em;
    }
    .geoTitle {
        width: 100%;
        margin: 0 auto;
    }
    .geoTitle h2 {
        float: none;
        font: 1.8em "Ubuntu-Bold";
        text-align: center;
        color: #1f1f1f;
        margin: 50px 0 0 0;
    }
    .geoTitle img {
        float: none;
        margin: 5px auto;
    }
    .city {
        margin-top: 0;
    }
    .rightColumnGeo{
        display: none;
    }
    select {
        width: 90%;
        margin: 1em auto;
    }
    .geoButton {
        float: none;
    }
    .deliveryArrow {
        display: none;
    }
    .innerDelivery form {
        margin: 0 auto;
    }
    .fourSteps {
        padding-bottom: 0;
    }
    .networks {
        float: none;
    }
    .socialButtons:nth-of-type(2) {
        background-position: -35px 0;
        margin-left: 1em;
    }
    .socialButtons:last-of-type {
        background-position: 25px 0;
        margin-left: 1em;
    }
    .innerFooter div {
        width: 100%;
        display: block;
        float: none;
        margin: 0 auto;
    }
    .innerFooter>div:last-of-type {
        margin: 1em 0 1em;
    }
}
/* end of 361 end of 361 end of 361 end of 361 end of 361 end of 361 end of 361 end of 361 end of 361 end of 361 end of 3618*/
